
body{background:#eee0e0; /*direction:rtl*/; }
#rm-wino{background-image: url(https://mushaf.me/fahres/page/images/muhammadi/page3.png);width:865px;height: 1273px;}

.lineFahras{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
/*background:#cbdfdf8f*/;width:1080px;position:absolute;z-index:1/* top: 204px; */}